#intro {
position: fixed;
inset: 0;
display: flex;
justify-content: center;
align-items: center;
background: #000;
z-index: 10;
}

#intro h1 {
font-size: 3.5rem;
color: #e8e2c6;
opacity: 0;
letter-spacing: 3px;
text-align: center;
text-shadow: 0 0 20px #3fa34d;
animation: introGlow 3s ease forwards;
}

@keyframes introGlow {
0% {
opacity: 0;
transform: scale(0.85);
text-shadow: 0 0 0 #3fa34d;
}
100% {
opacity: 1;
transform: scale(1);
text-shadow: 0 0 25px #3fa34d;
}
}

#intro.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

#pageContent {
  opacity: 0;
  filter: blur(8px);

  transition: 
    opacity 1.2s ease,
    filter 1.2s ease;
}

#pageContent.pageLoaded {
  opacity: 1;
  filter: blur(0);
}